*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button{
	font-size: 0.8rem;
	font-weight: 700;
	outline: none;
	border: none;
	background-color: #1d1d1d;
	color: aliceblue;
	padding: 13px 30px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.3s ease;
}

button:hover{
	background-color: #3a3833;
}

hr{
	width: 30px;
	height: 2px;
	background-color: #fb774b;
}

.navbar{
	font-size: 16px;
/*	top: 0;
	left: 0;*/
}

.navbar-light .navbar-nav .nav-link{
	padding: 0 10px;
	color: black;
	transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar .nav-item img:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar .nav-item img.active{
	color: darkorange;
}

.navbar .nav-item img{
	font-size: 1rem;
	margin-right: 30px;
	padding: 2px 2px;
/*	margin: 1px;*/
	cursor: pointer;
	transition: 0.3s ease;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding right: 25px;
}

.row-2{
	justify-content: space-between;
	margin: 30px auto 30px;
}

select{
	border: 1px solid #ff523b;
	padding: 5px;
	border-radius: 10px;
}

select:focus{
	outline: none;
}

.page-btn{
	margin: 0 auto 80px;
}

.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background: #ff523b;
}
.col-4
{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
}

.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 40px;
	position: relative;
	line-height: 60px;
	color: #555;
}

footer{
	background-color: #222222;
}

footer h5{
	color: #D8D8D8;
	font-weight: 700;
	font-size: 1.2rem;
}

footer li{
	padding-bottom: 4px;
}

footer li a{
	font-size: 0.8rem;
	color: #999;
}

footer li a:hover{
	color: #D8D8D8;
}

footer p{
	color: #999;
	font-size: 0.8rem;
}